<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">

      <image id="neighborlys-Logo" src="/images/neighborlyLogo1.png"></image>
      <image id="neighborlys-address" src="/images/neighborlyAddress.png"></image>
      <image id="neighborlys-contact" src="/images/neighborlyCall.png"></image>


    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="https://neighborlysequipment.com/">Home</a>
      </li>
      <li>
        <a href="https://neighborlysequipment.com/pages/contact-us">Contact</a>
      </li>
      <li>
        <a href="https://neighborlysequipment.com/collections/all">Catalog</a>
      </li>
    </ul>
  </div>
</nav>